# Виртуальное окружение
venv/
.env/
.env.*

# Файлы и папки Python
*.pyc
__pycache__/
instance/

# Логи и отладочные данные
*.log
*.db
*.sqlite3

# Настройки среды разработки
.vscode/

# Папки и файлы, создаваемые Flask
*.pyo
*.pyd
*.pdb

# Конфигурационные файлы
*.cfg
*.ini

# Бэкапы и временные файлы
*.bak
*.swp
*~
.DS_Store
Thumbs.db

# Пакеты и зависимости
pip-log.txt
pip-delete-this-directory.txt
